body {
    background-color: #fefef4;
}
.bg-angpao {
    background: #fefef4 url(https://xwsr2.16fass88.com/resources/wap_new/images/angpaomay/bg.jpg)top center no-repeat;
    background-size: cover;
    max-width: 1920px;
    margin: 0 auto;
    padding-top: 80px;
    position: relative;
}
.angpao-packet {
    width: 60%;
    height: 120px;
    margin: 0 auto;
    cursor: pointer;
    position: relative;
}
.popup, .popup-prompt {
    background: url(https://xwsr2.16fass88.com/resources/wap_new/images/angpaomay/window.png)top center no-repeat;
    background-size: contain;
    max-width: 90%;
    height: 25%;
    margin: 0 auto;
    position: absolute;
    z-index: 3;
    left: 0;
    right: 0;
    top: 25%;
    text-align: center;
    display: none;
}
.popup {
    display: none;
}
.congrats-title {
    margin-top: -50px;
    margin-left: 4%;
    max-width: 30%;
}
.prompt-title {
    margin-top: -40px;
    margin-left: 3%;
    max-width: 15%;
}
.btn-close, .prompt-close {
    position: absolute;
    top: 10px;
    right: 135px;
    cursor: pointer;
}
.btn-determine, .btn-prompt {
    cursor: pointer;
    margin-top: 7%;
    margin-left: 4%;
}
.btn-determine img, .btn-prompt img {
    max-width: 30%;
}
.congratulation {
    width: 202px;
    height: 63px;
    margin: 0 auto 30px;
}
.angpao-value {
    color: #e84242;
    width: 50%;
    height: 35%;
    font-size: 12px;
    padding: 0 0 0 15px;
    margin: 0 auto;
}
.prompt-value {
    color: #e84242;
    font-size: 12px;
    margin: 0 auto;
    width: 50%;
    height: 35%;
    padding: 10px 0 0 15px;
}
.angpao-contact {
    font-size: 8px;
    color: #e84242;
}
.start-time {
    font-size: 12px;
    line-height: 16px;
    color: #fff;
    margin-top: 15px;
    text-align: center;
}
.title-big {
    font-size: 17px;
    color: #cf271e;
    margin-top: 60px;
    text-align: center;
    font-weight: bold;
}
.title-big img {
    max-width: 30%;
}
.title-small {
    font-size: 12px;
    color: #484848;
    margin-top: 0;
    text-align: center;
}
.requirement {
    width: 100%;
    margin: 0 auto;
    padding: 0 16px;
}
.requirement .request {
    font-size: 17px;
    line-height: 30px;
    color: #ef1933;
    font-weight: bold;
}
.requirement .detail {
    font-size: 14px;
    color: #484848;
    margin-bottom: 8px;
}
.requirement .table-requirement {
    border: 1px solid #b8b7b3;
    font-size: 12px;
}
.requirement .table-requirement tr th {
    letter-spacing: 1px;
    color: #ffffff;
    text-align: center;
    background-color: #da3d3e;
    line-height: 26px;
    border: 1px solid #da3d3e;
}
.requirement .table-requirement tr td {
    line-height: 20px;
    letter-spacing: 1px;
    color: #484848;
    text-align: center;
}
.requirement .table-requirement tr td:first-child {
    border-right: 1px solid #b8b7b3;
}
.requirement .notes {
    font-size: 10px;
    color: #484848;
    margin: 10px auto;
}
.tnc {
    width: 100%;
    padding: 0 16px;
    margin: 0 auto;
}
.tnc .title {
    font-size: 17px;
    line-height: 40px;
    color: #ef1933;
    font-weight: bold;
    margin: 10px auto 5px;
}
.tnc ol {
    padding-left: 15px;
}
.tnc ol li {
    font-size: 11px;
    letter-spacing: 1px;
    color: #484848;
    list-style: decimal;
}
#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
}
