.bet-container {
    background-color: #fff;
    font-size: 12px;
    color: #d0d1d3;
    padding: 0 0 2rem 0;
}
.bet-container .top-banner {
    height:7rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url("../../../images/promo/betBonus/bet_banner.png");
}
.bet-container .bet-content {
    width: 9.6rem;
    text-align: center;
}
.bet-container .bet-content .title-box {
    margin-top: .444rem;
    margin-bottom: .6rem;
}
.title-box img{
    width: 100%;
    margin: 0.7rem 0 0.4rem 0;
}
.rule-list {
    text-align: left;
    padding-left: 0;
    width: 85%;
    margin: 0 auto;    
}
.rule-list > li {
    list-style-type: decimal;
    list-style-position: inside;
    margin-bottom: .6rem;
    color: #414655;
}
.bet-active{
    width: 90%;
    text-align: left;
    margin: 0 auto;
    font-size: 0.36rem;
    color: #414655;
}
.bet-active>p{
    font-size: 0.3rem;
    color: #414655;
}
.active-title{
    height: 1.2rem;
    line-height: 1.2rem;
    font-size: 0.5rem;
    color: #ffffff;
	background-image: linear-gradient(0deg, 
		#0094ff 0%, 
		#19c6ff 100%), 
	linear-gradient(
		#2e3039, 
		#2e3039);
	background-blend-mode: normal, 
		normal;
}
.active-content h5{
    margin: 0.5rem 0 0.2rem 0;
    font-size: 0.5rem;
    color: #555657
}
.team-content{
    display: flex;
    justify-content: center;
    align-content: center;
}
.team-content section:nth-child(1),
.team-content section:nth-child(3){
    width: 40%;
}
.team-img img{
    width: 2rem;
}
.team-content section:nth-child(2){
    width:20%;
    color: #555657;
    font-size: 0.5rem;
    line-height: 2rem;
}
.team-content section p{
    display: inline-block;
    margin-bottom: 0;
}
.team-name{
    width: 100%;
}
.team-name span{
    display: inline-block;
    width: 49%;
    text-align: center;
}
.active-content{
    padding-bottom: 0.3rem;
    border: solid 1px #dcdce8;
}
.skill-content{
    margin-top: 20px;
    width: 100%;
}
.skill-content table{
    width: 100%;
}
.skill-content table th{
    color: #ffffff;
    text-align: center;
    background-image: linear-gradient(0deg, 
		#0094ff 0%, 
		#19c6ff 100%), 
	linear-gradient(
		#2e3039, 
		#2e3039);
	background-blend-mode: normal, 
		normal;
}
.skill-content table th:nth-child(1){
    width: 2rem;
    line-height: 0.76rem;
    font-size: 0.3rem

}
.skill-content table td{
    line-height: 0.76rem;
    text-align: center;
    background-color: #ffffff;
	border: solid 1px #dcdce8;
    color: #555657;
}
.skill-content tbody>tr:nth-child(1)>td{
    background-color: #d2f1ff;
	border: solid 1px #8fd8ff;
}
.team-tip{
    width: 94%;
    margin: 0.3rem auto;
    font-size: 0.3rem;
	color: #ff0000;
    text-align: left;
}